[{:realisation 6545,
  :sales 3741,
  :toTransfer 2452.47,
  :profit 2197.97,
  :salesCount 1,
  :returnsCount 0,
  :article "3451-1/Синий54"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "111/Синий52"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Васильковый50"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196,
  :profit -196.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Красный50"}
 {:realisation 1878,
  :sales 1878,
  :toTransfer -1392.4,
  :profit -1525.57,
  :salesCount 2,
  :returnsCount 1,
  :article "3708/Персиковый50"}
 {:realisation 7395,
  :sales 4307,
  :toTransfer 2348.02,
  :profit 2089.56,
  :salesCount 1,
  :returnsCount 0,
  :article "3522/Голубой58"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Красный54"}
 {:realisation 9210,
  :sales 7461,
  :toTransfer 2066.88,
  :profit 2920.48,
  :salesCount 3,
  :returnsCount 0,
  :article "109/Изумрудный50"}
 {:realisation 9120,
  :sales 4707,
  :toTransfer 3068.27,
  :profit 2785.81,
  :salesCount 2,
  :returnsCount 0,
  :article "1564-2/Кремовый56"}
 {:realisation 0,
  :sales 0,
  :toTransfer -178,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3450-1/Зеленый54"}
 {:realisation 4720,
  :sales 3266,
  :toTransfer -8.54,
  :profit -1.17,
  :salesCount 2,
  :returnsCount 0,
  :article "1523/Бежевый56"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3451-1/Синий52"}
 {:realisation 10942,
  :sales 7180,
  :toTransfer 1000.36,
  :profit 1739.35,
  :salesCount 3,
  :returnsCount 0,
  :article "109/Синий50"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3453-1/Бежевый50"}
 {:realisation 4200,
  :sales 2454,
  :toTransfer 1284.52,
  :profit 1115.91,
  :salesCount 1,
  :returnsCount 0,
  :article "3469-1/Васильковый54"}
 {:realisation 0,
  :sales 0,
  :toTransfer -0.12,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1821-1/Розовый52"}
 {:realisation 2600,
  :sales 1335,
  :toTransfer 687.28,
  :profit 587.36,
  :salesCount 1,
  :returnsCount 0,
  :article "1523/Бежевый58"}
 {:realisation 7000,
  :sales 3901,
  :toTransfer 7161.08,
  :profit 2365.17,
  :salesCount 1,
  :returnsCount 0,
  :article "1777-5/Бежевый52"}
 {:realisation 0,
  :sales 0,
  :toTransfer -232,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1821-1/Розовый50"}
 {:realisation 0,
  :sales 0,
  :toTransfer -392,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3469-1/Васильковый52"}
 {:realisation 0,
  :sales 0,
  :toTransfer -232,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1761-1/Синий50"}
 {:realisation 0,
  :sales 0,
  :toTransfer -214.12,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3522/Голубой54"}
 {:realisation 1720,
  :sales 1720,
  :toTransfer -631.82,
  :profit -744.98,
  :salesCount 1,
  :returnsCount 0,
  :article "1523/Розовый54"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Васильковый52"}
 {:realisation 2303,
  :sales 1387,
  :toTransfer 489.64,
  :profit 566.32,
  :salesCount 1,
  :returnsCount 0,
  :article "3450-1/Синий54"}
 {:realisation 4200,
  :sales 2451,
  :toTransfer 1265.2,
  :profit 1091.03,
  :salesCount 1,
  :returnsCount 0,
  :article "3469-1/Васильковый58"}
 {:realisation 3500,
  :sales 1999,
  :toTransfer 453.01,
  :profit 878.66,
  :salesCount 1,
  :returnsCount 0,
  :article "3467/Коричневый56"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Фисташковый52"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Красный52"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Шоколадный58"}
 {:realisation 2544,
  :sales 2544,
  :toTransfer -569.4,
  :profit -522.93,
  :salesCount 1,
  :returnsCount 0,
  :article "109/Серый50"}
 {:realisation 7200,
  :sales 3984,
  :toTransfer 2689,
  :profit 2409.87,
  :salesCount 1,
  :returnsCount 0,
  :article "1777-5/Васильковый54"}
 {:realisation 6640,
  :sales 3766,
  :toTransfer 2489.49,
  :profit 2247.19,
  :salesCount 1,
  :returnsCount 0,
  :article "3453-1/Бежевый56"}
 {:realisation 7195,
  :sales 5190,
  :toTransfer 1014.98,
  :profit 688.74,
  :salesCount 2,
  :returnsCount 0,
  :article "3467/Васильковый54"}
 {:realisation 0,
  :sales 0,
  :toTransfer -232,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Изумрудный52"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "109/Бордовый50"}
 {:realisation 4680,
  :sales 2909,
  :toTransfer 1137.21,
  :profit 1550.63,
  :salesCount 1,
  :returnsCount 0,
  :article "3467/Шоколадный46"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Красный50"}
 {:realisation 4800,
  :sales 2614,
  :toTransfer 1576.32,
  :profit 1615.56,
  :salesCount 1,
  :returnsCount 0,
  :article "1564-2/черный58"}
 {:realisation 0,
  :sales 0,
  :toTransfer -392,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3451-1/Розовый50"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "109/Бордовый46"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Красный56"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "2701-3/Черный52"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Васильковый56"}
 {:realisation 0,
  :sales 0,
  :toTransfer -392,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Васильковый56"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3451-1/Черный52"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1523/Бордовый52"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3451-1/Черный48"}
 {:realisation 0,
  :sales 0,
  :toTransfer -232.24,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1523/Розовый56"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1523/Синий58"}
 {:realisation 4800,
  :sales 2743,
  :toTransfer 1337.4,
  :profit 1338.78,
  :salesCount 1,
  :returnsCount 0,
  :article "3467/Лиловый50"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3450-1/Зеленый52"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "109/Серый46"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "2701-4/Васильковый50"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Фисташковый54"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3453-1/Вишневый58"}
 {:realisation 4800,
  :sales 2550,
  :toTransfer 1772.44,
  :profit 1588.54,
  :salesCount 1,
  :returnsCount 0,
  :article "3467/Красный46"}
 {:realisation 0,
  :sales 0,
  :toTransfer -232.24,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Бежевый54"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3522/Голубой52"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Коричневый46"}
 {:realisation 0,
  :sales 0,
  :toTransfer -630.68,
  :profit -238.72,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Фисташковый48"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1564-2/Кремовый52"}
 {:realisation 2660,
  :sales 1676,
  :toTransfer 766.96,
  :profit 621.36,
  :salesCount 1,
  :returnsCount 0,
  :article "1777-4/Васильковый 56"}
 {:realisation 2660,
  :sales 1513,
  :toTransfer 762.17,
  :profit 659.12,
  :salesCount 1,
  :returnsCount 0,
  :article "1777-4/Васильковый 52"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Коричневый50"}
 {:realisation 9120,
  :sales 5312,
  :toTransfer 3064.16,
  :profit 2689.5,
  :salesCount 2,
  :returnsCount 0,
  :article "1564-2/черный56"}
 {:realisation 0,
  :sales 0,
  :toTransfer -0.12,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Коричневый48"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Красный46"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "2701-3/Бордовый54"}
 {:realisation 4200,
  :sales 2451,
  :toTransfer 1530.04,
  :profit 1373.63,
  :salesCount 1,
  :returnsCount 0,
  :article "109/Синий58"}
 {:realisation 7395,
  :sales 4307,
  :toTransfer 2318.44,
  :profit 2041.34,
  :salesCount 1,
  :returnsCount 0,
  :article "3522/Голубой48"}
 {:realisation 2550,
  :sales 1423,
  :toTransfer 710.33,
  :profit 609.19,
  :salesCount 1,
  :returnsCount 0,
  :article "1523/Синий52"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Белый50"}
 {:realisation 0,
  :sales 0,
  :toTransfer -232,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1523/Бежевый50"}
 {:realisation 0,
  :sales 0,
  :toTransfer 3650,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3451-1/Изумрудный50"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Бежевый46"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196.12,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3469-1/Красный52"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Васильковый46"}
 {:realisation 0,
  :sales 0,
  :toTransfer -214,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "109/Синий46"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Белый48"}
 {:realisation 0,
  :sales 0,
  :toTransfer -428.12,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-4/Бирюзовый58"}
 {:realisation 2600,
  :sales 1403,
  :toTransfer 697.94,
  :profit 609.47,
  :salesCount 1,
  :returnsCount 0,
  :article "1523/Бежевый54"}
 {:realisation 0,
  :sales 0,
  :toTransfer -232,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Изумрудный54"}
 {:realisation 0,
  :sales 0,
  :toTransfer -392,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Шоколадный56"}
 {:realisation 0,
  :sales 0,
  :toTransfer -588,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Васильковый48"}
 {:realisation 0,
  :sales 0,
  :toTransfer -0.12,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3451-1/Розовый52"}
 {:realisation 0,
  :sales 0,
  :toTransfer -392,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3453-1/Бежевый60"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3450-1/Желтый52"}
 {:realisation 6545,
  :sales 3594,
  :toTransfer 2452.47,
  :profit 2207.75,
  :salesCount 1,
  :returnsCount 0,
  :article "3451-1/Розовый48"}
 {:realisation 4020,
  :sales 2289,
  :toTransfer 1236.77,
  :profit 1063.69,
  :salesCount 1,
  :returnsCount 0,
  :article "109/Голубой58"}
 {:realisation 0,
  :sales 0,
  :toTransfer -392,
  :profit -196.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Шоколадный48"}
 {:realisation 7040,
  :sales 4032,
  :toTransfer 2167.66,
  :profit 1910.39,
  :salesCount 1,
  :returnsCount 0,
  :article "1761-1/васильковый48"}
 {:realisation 6545,
  :sales 3749,
  :toTransfer 2452.47,
  :profit 2194.91,
  :salesCount 1,
  :returnsCount 0,
  :article "3451-1/Изумрудный48"}
 {:realisation 4200,
  :sales 2428,
  :toTransfer 1530.04,
  :profit 1363.22,
  :salesCount 1,
  :returnsCount 0,
  :article "109/Изумрудный58"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "2701-4/Васильковый52"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3451-1/Изумрудный54"}
 {:realisation 0,
  :sales 0,
  :toTransfer 3258,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3451-1/Синий50"}
 {:realisation 0,
  :sales 0,
  :toTransfer 3454,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3451-1/Изумрудный46"}
 {:realisation 0,
  :sales 0,
  :toTransfer -464,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Черный56"}
 {:realisation 0,
  :sales 0,
  :toTransfer -392,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Васильковый46"}
 {:realisation 0,
  :sales 0,
  :toTransfer -812.96,
  :profit -520,
  :salesCount 1,
  :returnsCount 1,
  :article "3469-1/Зеленый52"}
 {:realisation 8400,
  :sales 4702,
  :toTransfer 2036.5,
  :profit 2567.75,
  :salesCount 2,
  :returnsCount 0,
  :article "109/Изумрудный54"}
 {:realisation 0,
  :sales 0,
  :toTransfer -232,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1761-1/Синий48"}
 {:realisation 14040,
  :sales 7910,
  :toTransfer 3208.09,
  :profit 2841.83,
  :salesCount 4,
  :returnsCount 1,
  :article "3467/Шоколадный50"}
 {:realisation 0,
  :sales 0,
  :toTransfer -196,
  :profit -196.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Лиловый52"}
 {:realisation 0,
  :sales 0,
  :toTransfer 4318,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Бежевый50"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-5/Черный46"}
 {:realisation 0,
  :sales 0,
  :toTransfer -214.12,
  :profit -2.3,
  :salesCount 0,
  :returnsCount 0,
  :article "1777-4/Васильковый 50"}
 {:realisation 0,
  :sales 0,
  :toTransfer 3062,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3451-1/Черный50"}
 {:realisation 0,
  :sales 0,
  :toTransfer -0.12,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "2701-3/Бордовый52"}
 {:realisation 0,
  :sales 0,
  :toTransfer -232,
  :profit -232.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1761-1/васильковый50"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3450-1/Розовый52"}
 {:realisation 2851,
  :sales 1560,
  :toTransfer -604.12,
  :profit -714.89,
  :salesCount 2,
  :returnsCount 0,
  :article "1523/Розовый52"}
 {:realisation 4200,
  :sales 2235,
  :toTransfer 1047.24,
  :profit 1079.59,
  :salesCount 1,
  :returnsCount 0,
  :article "109/Бордовый58"}
 {:realisation 0,
  :sales 0,
  :toTransfer -784,
  :profit -196.04,
  :salesCount 0,
  :returnsCount 0,
  :article "3467/Васильковый58"}
 {:realisation 0,
  :sales 0,
  :toTransfer 0,
  :profit -0.04,
  :salesCount 0,
  :returnsCount 0,
  :article "1784-1/Синий58"}]
